.card {
  height: 50px;
  background-color: lightblue;
  border: 1px solid black;
  color: transparent;
}

.cardBack {
  height: 50px;
  color: black;
  background-color: aquamarine;
  border: 1px solid;
}
